@charset "utf-8";

/* Sub Common */
#container .sub_inner {padding-top:50px;padding-bottom:130px;}
#container .sub_inner .sub_title {position:relative;}
#container .sub_inner .sub_title h2 {font-size:35px;font-weight:700;color:#333;line-height:1;}
#container .sub_inner .sub_title .lead {margin-top:22px;font-size:17px;color:#333;}
#container .sub_inner .sub_title .board_search {position:absolute;right:0;bottom:-7px;}
.board_search input {margin-right:2px;padding:0 13px;width:360px;height:38px;font-size:13px;color:#999;border:1px solid #ccc;}
.board_search .btn_board_search {width:80px;height:38px;font-size:17px;color:#fff;font-weight:500;line-height:0.6;background-color:#333;}
#snb {margin-top:18px;overflow:hidden;}
#snb li {float:left;text-align:center;}
#snb li a {display:block;height:50px;font-size:17px;color:#999;line-height:2.8;border-top:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
#snb li:first-child a {border-left:1px solid #ddd;}
#snb li a.on {color:#fff;font-weight:700;border:0;}
#snb.snb4 li {width:25%;}
#snb.snb6 li {width:16.66%;}

/* FAQ */
.table_faq_list {margin-top:50px;border-top:3px solid #333;}
.table_faq_list tr {border-bottom:1px solid #ccc;}
.table_faq_list td {font-size:15px;color:#333;}
.table_faq_list td dt {background:url('../images/ico_qna_q.png') no-repeat;background-position:20px 27px;}
.table_faq_list td dt a {display:block;padding:25px 50px;background:url('../images/ico_qna_down.png') right 20px top 32px no-repeat;}
.table_faq_list td dl.on dt a {background-image:url('../images/ico_qna_up.png');}
.table_faq_list td dl.on dd {display:block;}
.table_faq_list td dd {display:none;padding:25px 50px;background-color:#f5f5f5;}
.table_faq_list td.bo_nodata {height:185px;text-align:center;vertical-align:middle;}

/* Q&A */
.qa_write p{margin-top:17px;height:85px;padding-top:45px;font-size:15px;color:#333;border-top:3px solid #333;}
.qa_write_inner {padding:30px 30px;background-color:#f5f5f5;}
.table_qa_write {}
.table_qa_write thead td {}
.table_qa_write tbody {}
.table_qa_write tbody th {padding-bottom:20px;font-size:17px;color:#333;font-weight:500;text-align:left;}
.table_qa_write tbody td {padding-bottom:20px;font-size:15px;color:#333;}
.table_qa_write tbody td .selectric {width:270px;}
.table_qa_write tbody .table_qa_write_file th,
.table_qa_write tbody .table_qa_write_file td {padding-top:30px;padding-bottom:0;border-top:1px solid #ccc;}
.table_qa_write tbody .table_qa_write_file td .file_list li {margin-top:10px;padding:7px 12px 7px 10px;height:35px;font-size:13px;color:#333;border:1px solid #ccc;background-color:#fff;}
.table_qa_write tbody .table_qa_write_file td .file_list li a {float:right;}
.table_qa_write tbody .file_select_group {text-align:right;}
.table_qa_write tbody .file_select_group span {font-size:13px;color:#333;}
.btn_board_file {width:100px !important;height:35px !important;line-height:35px !important;}
.btn_group_qa {margin-top:20px;}
.btn_group_qa button {width:100px;height:40px;line-height:40px;}

/* 원격지원안내 */
.sub_service .sub_service_inner {margin-top:20px;border:1px solid #ccc;background-color:#f5f5f5;}
.sub_service .sub_service_inner .title {padding:30px;text-align:center;border-bottom:1px solid #ccc;background-color:#fff;}
.sub_service .sub_service_inner .title h3 {font-size:25px;color:#333;}
.sub_service .sub_service_inner.sub_service_sec1 .title h3 {display:inline-block;padding-left:33px;background:url('../images/ico_service_tit1.png') no-repeat 0 6px;}
.sub_service .sub_service_inner .title p {margin-top:6px;font-size:15px;color:#333;line-height:25px;}
.sub_service .sub_service_inner .des {margin:0 auto;padding:50px 0;width:800px;overflow:hidden;}
.sub_service .sub_service_inner.sub_service_sec1 .des .customer_center {overflow:hidden;}
.sub_service .sub_service_inner.sub_service_sec1 .des .customer_center .sec_left {float:left;padding-left:160px;width:400px;height:105px;background:url('../images/ico_service_sec1_call.png') no-repeat 65px 0;}
.sub_service .sub_service_inner.sub_service_sec1 .des .customer_center .sec_left h4 {font-size:18px;color:#666;}
.sub_service .sub_service_inner.sub_service_sec1 .des .customer_center .sec_left .call_num {font-size:30px;color:#333;font-weight:900;line-height:35px;}
.sub_service .sub_service_inner.sub_service_sec1 .des .customer_center .sec_right {float:left;padding:10px 10px 10px 20px;width:400px;height:105px;font-size:15px;color:#333;}
.sub_service .sub_service_inner.sub_service_sec1 .des ul {overflow:hidden;}
.sub_service .sub_service_inner.sub_service_sec1 .des ul li {float:left;width:25%;}
.sub_service .sub_service_inner.sub_service_sec1 .des ul li a {display:block;padding-top:90px;height:150px;font-size:15px;text-align:center;line-height:18px;border-top:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;background-color:#fff;background-position:50% 40px;background-repeat:no-repeat;}
.sub_service .sub_service_inner.sub_service_sec1 .des ul li:first-child {border-left:1px solid #ccc;}
.sub_service .sub_service_inner.sub_service_sec1 .des ul li a.on {color:#f5f5f5;border:0;}
.sub_service .sub_service_inner.sub_service_sec1 .des ul li.li1 a {background-image:url('../images/ico_service_sec1_li1.png');}
.sub_service .sub_service_inner.sub_service_sec1 .des ul li.li2 a {background-image:url('../images/ico_service_sec1_li2.png');}
.sub_service .sub_service_inner.sub_service_sec1 .des ul li.li3 a {background-image:url('../images/ico_service_sec1_li3.png');}
.sub_service .sub_service_inner.sub_service_sec1 .des ul li.li4 a {background-image:url('../images/ico_service_sec1_li4.png');}
.sub_service .sub_service_inner.sub_service_sec2 {margin-top:40px;}
.sub_service .sub_service_inner.sub_service_sec2 .title h3 {display:inline-block;padding-left:33px;background:url('../images/ico_service_tit2.png') no-repeat 0 6px;}
.sub_service .sub_service_inner.sub_service_sec2 .sec_left {float:left;padding-top:5px;padding-left:160px;width:400px;height:65px;background:url('../images/ico_service_sec2_call.png') no-repeat 65px 0;}
.sub_service .sub_service_inner.sub_service_sec2 .sec_left h4 {font-size:18px;color:#666;}
.sub_service .sub_service_inner.sub_service_sec2 .sec_left p {font-size:15px;color:#333;}
.sub_service .sub_service_inner.sub_service_sec2 .sec_right {float:left;padding-top:5px;padding-left:20px;width:400px;height:65px;}
.sub_service .sub_service_inner.sub_service_sec2 .sec_right a {width:250px;height:50px;line-height:50px;}

/* 탐색 - 과정상세(집합교육) */
.ex_detail_hd_inner {position:relative;padding:30px;background-color:#fdeeeb;}
.ex_detail_hd_inner:after {display:block;visibility:hidden;clear:both;content:""}
.ex_detail_hd_inner .img {float:left;margin-right:30px;height:248px;}
.ex_detail_hd_inner .detail {float:left;position:relative;width:550px;}
.ex_detail_hd_inner .detail_cate span {margin-left:7px}
.ex_detail_hd_inner .detail_cate span:first-child {margin-left:0;}
.ex_detail_hd_inner .detail h3 {margin-top:10px;font-size:25px;color:#333;line-height:32px;}
.ex_detail_hd_inner .detail .detail_ft {margin-top:30px;}
.ex_detail_hd_inner .detail .detail_ft .detail_tag span {margin-left:7px}
.ex_detail_hd_inner .detail .detail_ft .detail_tag span:first-child {margin-left:0;}
table.table_ex_detail {margin-top:20px;font-size:15px;color:#333;}
table.table_ex_detail th {text-align:left;font-weight:400;}
table.table_ex_detail th
table.table_ex_detail th,
table.table_ex_detail td {padding:1px 0;font-weight:400;}
table.table_ex_detail td {padding-left:10px;}
table.table_ex_detail.aside th,
table.table_ex_detail.aside td {font-size:14px;}

.ex_detail_hd_inner .aside {float:right;width:250px;}
.ex_detail_hd_inner .aside .go_more {text-align:right;}
.ex_detail_hd_inner .aside .go_more a {display:inline-block;padding-right:12px;font-size:14px;color:#666;background:url('../images/ico_right_arrow_s.png') no-repeat right 5px;}
.ex_detail_hd_inner .aside .aside_bt {position:absolute;width:250px;bottom:30px;}
.ex_detail_hd_inner .aside .aside_bt .btn_box button {margin-top:10px;}
.ex_detail_info_li {overflow:hidden;}
.ex_detail_info_li li {float:left;padding-top:60px;width:11.11%;height:104px;font-size:17px;font-weight:500;text-align:center;border-width:1px;border-style:solid;border-left:0;background-repeat:no-repeat;background-position:50% 15px;}
.ex_detail_info_li li span {color:#999;}
.ex_detail_info_li li.em {color:#ccc;background-color:#eee;border-right:1px solid #fff;border-bottom:1px solid #eee;border-top:1px solid #eee;}
.ex_detail_info_li li.em.on {color:#fff;border-top:0;border-bottom:0;}
.ex_detail_info_li li:first-child {border-left-width:1px;border-left-style:solid;}
.ex_detail_info_li li:last-child {border-right:0 !important;}
.ex_detail_info_li7 li {width:14.2857%;}
.ex_detail_info_li8 li {width:12.5%;}
.ex_detail_info_li9 li {width:11.1111%;}
.ex_detail_info_li10 li {width:10%;}

.ex_detail_con {position:relative;margin-top:50px;}
.ex_detail_con.fixed_top .aside_inner {position:fixed !important;top:0;}
.ex_detail_con.fixed_top .ex_detail_con_nav {position:fixed !important;top:0;}

.ex_detail_con .aside_wrap {float:right;width:346px;}
.ex_detail_con .aside {position:relative;}
.ex_detail_con .aside .aside_inner {position:static;width:346px;border:1px solid #ccc;background-color:#fff;z-index:9999;}
.ex_detail_con .aside .aside_inner .aside_con {padding:20px 20px 30px;}
.ex_detail_con .aside .aside_inner .aside_con h3 {margin-top:16px;font-size:25px;color:#333;font-weight:500;line-height:32px;}
.ex_detail_con .aside .aside_inner .aside_con .aside_price {position:relative;margin-top:12px;font-size:25px;font-weight:700;}
.ex_detail_con .aside .aside_inner .aside_con .aside_price span {font-size:14px;color:#333;font-weight:400;}

.ex_detail_con .aside .aside_inner .aside_con .tool_tip_wrap {position:absolute;right:10px;top:0;}
.ex_detail_con .aside .aside_inner .aside_con .btn_box {margin-top:15px;}
.ex_detail_con .aside .aside_inner .aside_con .btn_box button {margin-top:10px;}

.ex_detail_con .ex_detail_con_inner {float:left;width:1008px;}
.ex_detail_con_nav {width:1008px;z-index:9999;}
.ex_detail_con_nav .nav_menu {overflow:hidden;}
.ex_detail_con_nav .nav_menu.nav_menu2 li {width:50%;}
.ex_detail_con_nav .nav_menu.nav_menu3 li {width:33.33%;}
.ex_detail_con_nav .nav_menu.nav_menu4 li {width:25%;}
.ex_detail_con_nav .nav_menu.nav_menu5 li {width:20%;}
.ex_detail_con_nav .nav_menu.nav_menu6 li {width:16.66%;}
.ex_detail_con_nav .nav_menu li {float:left;width:16.66%;}
.ex_detail_con_nav .nav_menu li a {display:block;height:45px;font-size:17px;line-height:45px;color:#999;font-weight:300;text-align:center;border-left:1px solid #fff;background-color:#eee;}
.ex_detail_con_nav .nav_menu li:first-child a {border-left:0;}
.ex_detail_con_nav .nav_menu li a.on {border-top-width:3px;border-top-style:solid;border-left:1px solid #fff !important;background-color:#fff;font-weight:700;}
.ex_detail_con_sec {position:relative;padding-top:60px;}
.ex_detail_con_sec h3 {padding-left:28px;font-size:26px;background:url('../images/ico_ex_detail_h3.png') no-repeat 0 8px;}
.ex_detail_con_sec h3 span {color:#ccc;}

.ex_detail_con_sec.sec1 ul {margin-top:15px;}
.ex_detail_con_sec.sec1 li {margin-top:40px;}
.ex_detail_con_sec.sec1 li:first-child {margin-top:0;}
.ex_detail_con_sec.sec1 li h4 {font-size:20px;color:#4c4c4c;font-weight:500;}
.ex_detail_con_sec.sec1 li p {margin-top:10px;font-size:15px;color:#333;line-height:24px;}
.ex_detail_con_sec.sec1 li .file_box {margin-top:15px;padding-left:40px;height:40px;font-size:14px;color:#444;line-height:39px;border:1px solid #ccc;background:url('../images/ico_board_view_file.png') no-repeat 22px 13px;}
.ex_detail_con_sec.sec1 li .link_box {margin-top:15px;overflow:hidden;}
.ex_detail_con_sec.sec1 li .link_box a {display:block;float:left;padding:0 10px;width:435px;height:40px;font-size:15px;color:#0000ff;line-height:39px;border:1px solid #ccc;}
.ex_detail_con_sec.sec1 li .link_box .btn_copy {float:left;width:140px;height:40px;font-size:15px;color:#999;border-top:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}

.ex_detail_con_sec.sec2 .tab_sub_sec {display:inline-block;margin-top:25px;color:#aaa;background-color:#f5f5f5;overflow:hidden;border-radius:5px;}
.ex_detail_con_sec.sec2 .tab_sub_sec li {float:left;}
.ex_detail_con_sec.sec2 .tab_sub_sec li a {display:block;width:100px;height:50px;text-align:center;line-height:50px;}
.ex_detail_con_sec.sec2 .tab_sub_sec li.on a {color:#fff;}
.ex_detail_con_sec.sec2 .tab_contents.no_cate {margin-top:10px;}
.ex_detail_con_sec.sec2 .tab_contents li {position:relative;padding-left:25px;height:56px;font-size:17px;line-height:56px;color:#999;background:url('../images/bg_ex_time.png') no-repeat;}
.ex_detail_con_sec.sec2 .tab_contents li.on {color:#333;font-weight:500;background:url('../images/bg_ex_time_on.png') no-repeat;}
.ex_detail_con_sec.sec2 .tab_contents li strong {font-weight:500;}
.ex_detail_con_sec.sec2 .tab_contents li .play_time {position:absolute;right:0;top:12px;display:inline-block;width:112px;height:30px;line-height:30px;font-size:17px;color:#999;text-align:center;background:#eee;border-radius:4px;}
.ex_detail_con_sec.sec2 .tab_contents li .play_time img {margin-right:5px;vertical-align:1px;}
.ex_detail_con_sec.sec2 .tab_contents li:last-child {background-image:url('../images/bg_ex_time_last.png');}
.ex_detail_con_sec.sec2 .tab_contents .sec2_more {display:block;margin-top:30px;height:50px;font-size:17px;color:#999;text-align:center;line-height:50px;background-color:#f5f5f5;}

.ex_detail_con_sec.sec3 ol {margin-top:15px;border-bottom:1px solid #ccc;}
.ex_detail_con_sec.sec3 li {position:relative;}
.ex_detail_con_sec.sec3 li a {display:block;padding-left:20px;height:55px;font-size:17px;color:#999;line-height:54px;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;}
.ex_detail_con_sec.sec3 li span {display:inline-block;margin-right:15px;}
.ex_detail_con_sec.sec3 li a:hover {font-weight:500;}
.ex_detail_con_sec.sec3 li a:hover:after {z-index:1;content:"";position:absolute;bottom:-1px;left:0;width:100%;height:1px;}

.ex_detail_con_sec.sec4 .sec4_tool_tip {position:absolute;right:0;top:75px;font-size:14px;color:#999;}
.ex_detail_con_sec.sec4 .sec4_tool_tip img {margin-right:2px;vertical-align:-2px;}
.ex_detail_con_sec.sec4 ul {margin-top:15px;border-top:1px solid #ccc;border-left:1px solid #ccc;}
.ex_detail_con_sec.sec4 li {padding:25px 30px 25px 147px;height:125px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;background:url('../images/ico_ex_book.png') no-repeat 40px 30px;}
.ex_detail_con_sec.sec4 li .sec_left {float:left;width:650px;}
.ex_detail_con_sec.sec4 li .sec_right {float:right;}
.ex_detail_con_sec.sec4 li .isbn {font-size:12px;color:#999;}
.ex_detail_con_sec.sec4 li .book_subject {font-size:20px;color:#333;font-weight:700;}
.ex_detail_con_sec.sec4 li .book_info {margin-top:7px;font-size:13px;color:#999;}
.ex_detail_con_sec.sec4 li .price {font-size:20px;color:#333;font-weight:700;line-height:70px;}

.ex_detail_con_sec.sec5 table {margin-top:15px;}

.ex_detail_con_sec.sec6 .average_score {margin-top:15px;padding-top:21px;height:75px;font-size:20px;color:#333;font-weight:500;text-align:center;background-color:#f8f8f8;border:1px solid #ccc;}
.ex_detail_con_sec.sec6 .review_write {margin-top:30px;}
.ex_detail_con_sec.sec6 .review_form {margin-top:6px;overflow:hidden;}
.ex_detail_con_sec.sec6 .review_form .textarea_box {float:left;width:827px;height:145px;}
.ex_detail_con_sec.sec6 .review_form .textarea_box textarea {padding:20px;width:100%;height:145px;}
.ex_detail_con_sec.sec6 .review_form button {float:right;width:170px;height:145px;font-size:20px;font-weight:500;line-height:145px;text-align:center;border:1px solid #ccc;background-color:#eee;}
.ex_detail_con_sec.sec6 .review_list {margin-top:40px;border-top:1px solid #ccc;}
.ex_detail_con_sec.sec6 .review_list > li {position:relative;padding:20px 0;border-bottom:1px solid #ccc;overflow:hidden;}
.ex_detail_con_sec.sec6 .review_list > li .list_head {float:left;width:80px;text-align:center;font-weight:500;}
.ex_detail_con_sec.sec6 .review_list > li .list_con {float:left;margin-left:15px;width:912px;}
.ex_detail_con_sec.sec6 .review_list > li .review_con {margin-top:15px;font-size:14px;}
.ex_detail_con_sec.sec6 .review_list > li .review_con .review_list_form {display:none;}
.ex_detail_con_sec.sec6 .review_list > li .review_con .review_list_form .textarea_box {float:left;width:732px;height:145px;}
.ex_detail_con_sec.sec6 .review_list > li .review_con .review_list_form textarea {height:145px;}
.ex_detail_con_sec.sec6 .review_list > li .review_con .review_list_form button {width:170px;height:145px;font-size:20px;line-height:145px;}
.ex_detail_con_sec.sec6 .review_list > li .review_date {margin-top:20px;font-size:13px;}
.ex_detail_con_sec.sec6 .review_list > li .review_option {position:absolute;width:20px;right:10px;top:15px;text-align:center;}
.ex_detail_con_sec.sec6 .review_list > li .review_option .btn_review_option {cursor:pointer;}
.ex_detail_con_sec.sec6 .review_list > li .review_option .more_box {position:absolute;display:none;top:30px;right:0;z-index:999;border-top:1px solid #ccc;}
.ex_detail_con_sec.sec6 .review_list > li .review_option .more_box li a {display:block;padding-left:25px;width:55px;height:25px;font-size:12px;line-height:24px;text-align:left;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ccc;}
.ex_detail_con_sec.sec6 .review_list > li .review_option .more_box li a.more_edit {background:url('../images/ico_review_edit.png') no-repeat 10px 5px #fff;}
.ex_detail_con_sec.sec6 .review_list > li .review_option .more_box li a.more_del {background:url('../images/ico_review_del.png') no-repeat 10px 5px #fff;}
.ex_detail_con_sec.sec6 .review_no_data {margin-top:30px;width:1008px;height:270px;font-size:20px;color:#999;text-align:center;line-height:270px;background-color:#f5f5f5;}
.ex_detail_con_sec.sec6 .review_no_data img {margin-right:5px;vertical-align:-8px;}

.ex_detail_con_sec.sec7 ul {margin:15px -10px 0;overflow:hidden;}
.ex_detail_con_sec.sec7 li {float:left;margin:10px;width:320px;}
.ex_detail_con_sec.sec7 li .thumb_box {position: relative;height: 200px;background-repeat: no-repeat;background-size: 100% auto;}
.ex_detail_con_sec.sec7 li .course_desc {padding:10px 0;height:66px;}
.ex_detail_con_sec.sec7 li .course_desc .i_cate {font-size:14px;}
.ex_detail_con_sec.sec7 li .course_desc .i_subject {font-size:20px;color:#333;font-weight:500;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}

.ex_detail_con_sec.sec8 ul {margin-top:15px;overflow:hidden;}
.ex_detail_con_sec.sec8 li {position:relative;float:left;padding-left:85px;width:339px;height:70px;}
.ex_detail_con_sec.sec8 li:after {position:absolute;display:block;width:19px;height:70px;right:15px;top:0;background:url('../images/out_process_arrow.png') no-repeat 0 0;content:''}
.ex_detail_con_sec.sec8 li:last-child {width:330px;}
.ex_detail_con_sec.sec8 li:last-child h4 {margin-top:0;}
.ex_detail_con_sec.sec8 li:last-child:after {display:none;}
.ex_detail_con_sec.sec8 li.li1 {background:url('../images/out_process_img1.png') no-repeat 0 0;}
.ex_detail_con_sec.sec8 li.li2 {background:url('../images/out_process_img2.png') no-repeat 0 0;}
.ex_detail_con_sec.sec8 li.li3 {background:url('../images/out_process_img3.png') no-repeat 0 0;}
.ex_detail_con_sec.sec8 li h4 {margin-top:10px;font-size:17px;color:#333333;font-weight:500;}
.ex_detail_con_sec.sec8 li p {font-size:13px;color:#666666;}


/* 별점 드래그 입력 */
.user_star {float:left;overflow:hidden;margin:0;}
.star_input {position:relative;float:left;margin:0;width:102px;height:16px;}
.star_input,
.star_input label:hover,
.star_input input:focus + label,
.star_input input:checked + label {float:left;background:url('../images/star_grade.png') no-repeat 0 0;}
.star_input input {position:absolute;width:1px;height:1px;opacity:0;}
.star_input.focus {}
.star_input label {position:absolute !important;width:37px;height:0 !important;padding:16px 0 0 0 !important;overflow:hidden;float:left;cursor:pointer;position:absolute;top:0;left:0;}
.star_input label:hover,
.star_input input:focus+label,
.star_input input:checked+label {background-position:0 bottom;}
.star_input label:hover~label {background-image:none;}
.star_input label.one {width:20px;z-index:5;}
.star_input label.two {width:40px;z-index:4;}
.star_input label.three {width:60px;z-index:3;}
.star_input label.four {width:80px;z-index:2;}
.star_input label.five {width:100px;z-index:1;}


/* 별점 */
.review_star {display:inline-block;}
.review_star .i_tit {float:left;margin-right:20px;font-weight:500;}
.review_star .ico_star_view {position:relative;float:left;width:91px;height:15px;background:url('../images/review_star_91_blank.png') no-repeat;}
.review_star .ico_star_view .star_fill {position:absolute;top:0;left:0;height:15px;background:url('../images/review_star_91_full.png') no-repeat;}
.review_star .i_rating {margin-left:8px;float:left;font-size:15px;font-weight:500;color:#333333;text-align:right;line-height:16px;}

.review_star_91 .ico_star_view {background:url('../images/review_star_91_blank.png') no-repeat;}
.review_star_91 .ico_star_view .star_fill {background:url('../images/review_star_91_full.png') no-repeat;}
.review_star_91 .i_rating {margin-left:10px;font-size:15px;font-weight:400;line-height:15px;}

.review_star_101 .ico_star_view {width:101px;height:16px;background:url('../images/review_star_101_blank.png') no-repeat;}
.review_star_101 .ico_star_view .star_fill {height:16px;background:url('../images/review_star_101_full.png') no-repeat;}
.review_star_101 .i_rating {margin-left:10px;font-size:15px;font-weight:500;line-height:16px;}

.review_star_110 .ico_star_view {width:110px;height:17px;background:url('../images/review_star_110_blank.png') no-repeat;}
.review_star_110 .ico_star_view .star_fill {height:17px;background:url('../images/review_star_110_full.png') no-repeat;}
.review_star_110 .i_rating {margin-left:12px;font-size:18px;font-weight:500;line-height:18px;}

.review_star_182 .ico_star_view {width:182px;height:28px;background:url('../images/review_star_182_blank.png') no-repeat;}
.review_star_182 .ico_star_view .star_fill {height:28px;background:url('../images/review_star_182_full.png') no-repeat;}
.review_star_182 .i_rating {margin-left:12px;font-size:20px;font-weight:500;line-height:30px;}


/* Table Style */
.table {width:100%;}
.table_board_list {margin-top:50px;border-top:3px solid #333;}
.table_board_list thead th {padding:12px 0;height:50px;font-size:15px;color:#333;font-weight:500;border-bottom:1px solid #333;}
.table_board_list tbody td {padding:18px 0;height:60px;font-size:15px;color:#333;text-align:center;border-bottom:1px solid #ccc;}
.table_board_list tbody td.bo_title {text-align:left;}
.table_board_list tbody td.bo_cate {font-size:14px;}
.table_board_list tbody tr:hover {background-color:#f8f8f8;}
.table_board_list tbody tr:hover .bo_title {font-weight:500;}
.table_board_list .bo_nodata {height:185px;text-align:center;vertical-align:middle;}

.table_board_view {margin-top:17px;border-top:3px solid #333;}
.table_board_view tbody td.bo_view_hd {padding:23px 18px 18px 23px;height:110px;border-bottom:1px solid #333;}
.table_board_view tbody td.bo_view_hd h3 {font-size:25px;color:#666;}
.table_board_view tbody td.bo_view_hd .bo_view_info {margin-top:5px;}
.table_board_view tbody td.bo_view_hd .bo_view_info span {font-size:14px;color:#666;}
.table_board_view tbody td.bo_view_hd .bo_view_info_left {float:left;}
.table_board_view tbody td.bo_view_hd .bo_view_info_right {float:right;}
.table_board_view tbody td.bo_view_content {padding:25px 15px;font-size:15px;color:#333;}
.table_board_view tbody td.bo_view_content .bo_view_content_inner {min-height:300px;}
.table_board_view tbody td.bo_view_file li {padding:7px 20px;height:40px;font-size:14px;color:#666;line-height:25px;background-color:#f5f5f5;border-bottom:1px solid #ccc;}

.table_style1 {border-top:1px solid #666;}
.table_style1 th,
.table_style1 td {height:35px;font-size:15px;color:#333;text-align:center;vertical-align:middle;border-left:1px solid #ccc;border-bottom:1px solid #ccc;}
.table_style1 thead th {background-color:#eee;font-weight:500;}
.table_style1 tfoot td {background-color:#fef6f5;font-weight:500;}

.table_style2 {border-top:1px solid #666;}
.table_style2 th,
.table_style2 td {padding:0 15px;height:35px;font-size:15px;color:#333;vertical-align:middle;border-left:1px solid #ccc;border-bottom:1px solid #ccc;}
.table_style2 th {border-left:0;}
.table_style2 thead th {background-color:#fef6f5;font-weight:500;}
.table_style2 thead td {font-weight:500;}
.table_style2 tbody th {background-color:#eee;font-weight:500;}
.table_style2 tbody td {}

/* Page Nav */
.page_nav {margin-top:30px;text-align:center;}
.page_nav li {display:inline-block;margin:0 1px;}
.page_nav li a {display:inline-block;;width:38px;height:38px;font-size:17px;color:#999;font-weight:300;line-height:2;border:1px solid #ccc;}
.page_nav li a img{vertical-align:-1px;}
.page_nav li a.on {color:#fff;background-color:#333;border:1px solid #333;}

/* Btn style */
.btn_group {text-align:right;}
.btn_board_view {margin-top:20px;}
.btn_basic {display:inline-block;width:120px;height:40px;line-height:38px;text-align:center;}
.btn_round {border-radius:4px;}
.btn_gray_white {color:#fff;background-color:#aaa}
.btn_gray2_white {color:#fff;background-color:#666666;}
.btn_gray_black {color:#666;background-color:#ddd}
.btn_blue_white {color:#fff;background-color:#3d7ca4}
.btn_gray2 {color:#999;background-color:#ddd;}
.btn_gray3 {color:#fff;background-color:#555;}
.btn_ex_favorite {height:40px !important;color:#262626;line-height:20px !important;border:1px solid #b5b5b5;}
.btn_ex_favorite img {margin-right:7px;vertical-align:-1;}
.btn_half_wrap {margin:0 -5px;overflow:hidden;}
.btn_half_wrap .btn_half_box {float:left;padding:0 5px;width:50% !important;}
.btn_play {display:inline-block;margin-right:10px;width:104px;height:30px;line-height:30px;font-size:14px;color:#fff;text-align:center;background-color:#666;border-radius:4px;}
.btn_play img {margin-right:5px;vertical-align:-1px;}

/* Ellipse style */
.label_basic {display:inline-block;padding:0 20px;height:25px;font-size:15px;font-weight:400;line-height:25px;border-radius:12px;}
.label_o {color:#fff;}
.label_g {color:#fff;background-color:#999;}
.label_t_gb {color:#0396a6;border:1px solid #0396a6;}
.label_t_g {color:#038c5a;border:1px solid #038c5a;}
.label_t_bb {color:#2c3759;border:1px solid #2c3759;}

/* Textarea box Line style */
.textarea_box textarea {padding:21px 21px;width:100%;height:400px;font-size:15px;color:#333333;border:1px solid #cccccc;outline:0;}

/* Tool tip */
.tool_tip {}
.tool_tip img {cursor:pointer;}
.tool_tip .tool_top_box {position:relative;}
.tool_tip .tool_top_box_inner {position:absolute;width:215px;left:-180px;bottom:30px;padding:10px 13px;font-size:12px;color:#fff;background-color:#333;border-radius:5px;}
.tool_tip .tool_top_box_arrow {position:absolute;bottom:12px;width:14px;height:18px;border-top:9px solid #333;border-right:7px solid transparent;border-left:7px solid transparent;}